*{
    margin: 0;
    padding: 0;
    block-size: "border-box";
    /* font-family: "Calibri"; */
}

html, body{
    height: 100%;
    width: 100%;
}


body{
    background-color: #e7cfaa;
}

.box{
    border: 2px solid black;

}